@import url('http://font.download');



@tailwind utilities;
/* news ticker animation */
@keyframes ticker-ltr {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


@keyframes tilt-shake {
  0%   { transform: rotate(0deg); }
  30%  { transform: rotate(-1deg); }
  60%  { transform: rotate(1deg); }
  100% { transform: rotate(0deg); }
}

@font-face {
  font-family: "Dinosaur";
  src:url("./assets/fonts/Dinosaur.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FatFrank";
  src: url("./assets/fonts/fonnts.com-FatFrank_Heavy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "rooneySansRegular";
  src: url("./assets/fonts/RooneySansRegular.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}





@import 'tailwindcss'









