@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('http://font.download');



@tailwind utilities;
/* news ticker animation */
@keyframes ticker-ltr {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


@keyframes tilt-shake {
  0%   { transform: rotate(0deg); }
  30%  { transform: rotate(-1deg); }
  60%  { transform: rotate(1deg); }
  100% { transform: rotate(0deg); }
}






@import 'tailwindcss'









